/* .login-content {
background-color: #e86341;
} */

/* .form-control {
    width: 250px;
} */
.user {
    margin: 240px;
    display: contents;
}

.verifycodeImg {
   width: fit-content;
   height: 50px;
   cursor: pointer;
}

.notification {
    color:#1e90ff;
    text-decoration: underline;
    cursor: pointer;
    font-size: small;

}